/* XXX-Large devices (larger desktops, 1600px and up) */
@media (min-width: 1600px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1366px;
    }
}

@media (min-width: 1366px) and (max-width: 1600px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1280px;
    }
}



.py-100px {
    padding-top: 100px;
    padding-bottom: 100px;
}
.bg-DarkSlateBlue {
    background-color: $primaryDark-color;
    color: $color-white;
}
.min-height-md {
    min-height: calc(100vh / 2);
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background: linear-gradient(315deg, rgb(37, 44, 90) 0%, rgb(32, 15, 226) 100%);
}
.nav-pills .nav-link {
    color: #200FE2;
}