@media (min-width: 1366px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1300px;
    }
}

/* XXX-Large devices (larger desktops, 1600px and up) */
@media (min-width: 1600px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1530px;
    }
}

.py-100px {
    padding-top: 100px;
    padding-bottom: 100px;
}
.bg-DarkSlateBlue {
    background-color: $primaryDark-color;
    color: $color-white;
}
