.btn-primary--gradient {
    --bs-btn-color: #fff;;
    --bs-btn-hover-color: #fff;;
    background: rgb(37,44,90);
    background: linear-gradient(315deg, rgba(37,44,90,1) 0%, rgba(32,15,226,1) 100%);
    border: 0 none;
}
.btn-lg {
    font-size: 20px;
}
