.form-label {
    color: #666666;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 5px;
}
.form-control,
.form-select {
    border-color: #ccc;
    border-radius: 4px;
}