.text-primary--gradient {
    background: linear-gradient(135deg, rgba(32,15,226,1) 0%, rgba(37,44,90,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.text-primary {
    color: $primary-color !important;
}
.text-secondary {
    color: $secondary-color !important;
}
h1, h2, h3, h4, h5, h6 {
    line-height: normal;
}
h2 {
    margin-bottom: 40px;
}
h5, h6 {
    font-family: "Inter", Helvetica, sans-serif;
}
a {
    text-decoration: none;
}