/* XXX-Large devices (larger desktops, 1600px and up) */
@media (min-width: 1600px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1366px;
  }
}
@media (min-width: 1366px) and (max-width: 1600px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1280px;
  }
}
.py-100px {
  padding-top: 100px;
  padding-bottom: 100px;
}

.bg-DarkSlateBlue {
  background-color: #252C5A;
  color: #fff;
}

.min-height-md {
  min-height: 50vh;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
@media (min-width: 1366px) and (max-width: 1600px) {
  body {
    font-size: 14px;
  }
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4 {
  font-family: "Canela";
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  line-height: normal;
}

h1, .h1 {
  font-size: 60px;
}
@media (min-width: 1366px) and (max-width: 1600px) {
  h1, .h1 {
    font-size: 52px;
  }
}

h2, .h2 {
  font-size: 48px;
}
@media (min-width: 1366px) and (max-width: 1600px) {
  h2, .h2 {
    font-size: 40px;
  }
}

h3, .h3 {
  font-size: 36px;
}

h4, .h4 {
  font-size: 22px;
}

h5, .h5 {
  font-size: 18px;
}

h6, .h6 {
  font-size: 18px;
}

a {
  text-decoration: none;
}

.text-primary--gradient, .info-package .brand-headline {
  background: linear-gradient(135deg, rgb(32, 15, 226) 0%, rgb(37, 44, 90) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-primary {
  color: #200FE2 !important;
}

.text-secondary {
  color: #D8AA96 !important;
}

section {
  margin: 50px 0 100px 0;
}
@media (min-width: 1366px) and (max-width: 1600px) {
  section {
    margin: 30px 0 60px 0;
  }
}

.bg-light-gradient {
  background: linear-gradient(180deg, rgb(255, 246, 242) 0%, rgba(255, 246, 242, 0) 100%);
}

header {
  background-color: #fff;
  border-bottom: 1px solid #E4E5E8;
}
header .navbar-brand .navbar-brand-item {
  height: 80px;
}
header .navbar-nav .nav-item {
  margin: 0 4px;
}
header .navbar-nav .nav-item .nav-link {
  border-radius: 8px;
  color: #62646A;
  padding: 8px 16px;
}
header .navbar-nav .nav-item .nav-link:hover {
  background-color: rgba(32, 15, 226, 0.05);
  color: #1a1a1a;
}
header .nav .nav-item .btn {
  border-color: #200FE2;
  border-width: 2px;
  color: #200FE2;
  font-weight: 500;
}
header .nav .nav-item .btn:hover {
  background-color: rgba(32, 15, 226, 0.1);
}

footer {
  background-color: #1a1a1a;
  color: #fff;
  padding-top: 60px;
  position: relative;
  overflow: hidden;
}
footer .background-figure {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: -120px;
  margin-left: -180px;
}
footer .background-figure svg.fill-mode {
  fill: #fff;
}
footer .invert-logo {
  filter: brightness(999);
}
footer h6 {
  color: #fff;
}
footer .nav.flex-column:not(.nav-pills) .nav-link {
  color: #fff;
  padding-left: 0;
  padding-bottom: 0.3rem;
}

.hero-slider {
  background-color: var(--primary-color);
  background-image: url("../images/hero-slider.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 36px 24px;
  position: relative;
  height: 600px;
}
.hero-slider::after {
  content: "";
  border-radius: var(--bs-border-radius-xxl);
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.hero-slider .content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 36px;
  width: 100%;
  max-width: 90%;
  position: relative;
  z-index: 1;
}
.hero-slider .content-wrapper h1 {
  color: #fff;
  text-align: center;
}
.hero-slider .content-wrapper .search-form {
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  border-radius: 16px;
  padding: 12px;
}
.hero-slider .content-wrapper .search-form .form-control,
.hero-slider .content-wrapper .search-form .form-select {
  border: 0;
  height: 60px;
  border-radius: 8px;
}
.hero-slider .content-wrapper .search-form .form-control::-moz-placeholder, .hero-slider .content-wrapper .search-form .form-select::-moz-placeholder {
  color: #999;
}
.hero-slider .content-wrapper .search-form .form-control::placeholder,
.hero-slider .content-wrapper .search-form .form-select::placeholder {
  color: #999;
}
.hero-slider .content-wrapper .search-form .btn-search {
  border-radius: 8px;
  font-size: 20px;
  height: 60px;
  padding: 0 48px;
}
.hero-slider .partners-package {
  position: absolute;
  bottom: 0;
  z-index: 1;
}
.hero-slider .partners-package .partners-logos {
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 48px;
  margin-bottom: 28px;
}
.hero-slider .partners-package .partners-logos img {
  max-height: 36px;
}
.hero-slider.hero-slider--small {
  height: 300px;
}
.hero-slider.hero-slider--small .content-wrapper {
  margin-bottom: 0;
}
.hero-slider.hero-slider--small .content-wrapper.gap-0 {
  gap: 0;
}
.hero-slider.hero-slider--small .content-wrapper span {
  display: block;
  color: #fff;
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}
.hero-slider.hero-slider--small .content-wrapper .search-form {
  border-radius: 16px;
}
.hero-slider.hero-slider--small .content-wrapper .search-form .form-control,
.hero-slider.hero-slider--small .content-wrapper .search-form .form-select {
  height: 60px;
}
@media (min-width: 1366px) and (max-width: 1600px) {
  .hero-slider {
    height: 500px;
  }
  .hero-slider .content-wrapper .search-form {
    border-radius: 12px;
  }
  .hero-slider .content-wrapper .search-form .form-control,
  .hero-slider .content-wrapper .search-form .form-select,
  .hero-slider .content-wrapper .search-form .btn-search {
    height: 52px;
    border-radius: 6px;
    font-size: 16px;
  }
  .hero-slider .partners-package .partners-logos img {
    max-height: 30px;
  }
}

.location-package {
  border-radius: 16px;
  padding: 12px;
  width: 220px;
}
.location-package--violet {
  background-color: #301745;
}
.location-package--pullmanGreen {
  background-color: #3E361A;
}
.location-package--ochre {
  background-color: #C27321;
}
.location-package--roseEbony {
  background-color: #654A3D;
}
.location-package--navyBlue {
  background-color: #080066;
}
.location-package--lincolnGreen {
  background-color: #0A4400;
}
.location-package--bloodRed {
  background-color: #8D120C;
}
.location-package--violet {
  background-color: #301745;
}
.location-package a {
  text-decoration: none;
}
.location-package a h3 {
  font-family: "Inter", Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: white;
  padding: 8px;
}
.location-package a h3 span {
  display: block;
  font-size: 22px;
  font-weight: bold;
}
.location-package a picture img {
  border-radius: 16px;
}
@media (min-width: 1366px) and (max-width: 1600px) {
  .location-package {
    border-radius: 12px;
    padding: 12px;
    width: 180px;
  }
  .location-package a h3 {
    font-size: 16px;
  }
  .location-package a h3 span {
    font-size: 20px;
  }
  .location-package a picture img {
    border-radius: 8px;
  }
}

.owl-slider-wrapper .owl-nav {
  display: block !important;
}
.owl-slider-wrapper .owl-nav button {
  background-color: #fff !important;
  border-radius: 48px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.35);
  position: absolute;
  bottom: 60px;
  height: 48px;
  width: 48px;
}
.owl-slider-wrapper .owl-nav button span {
  font-size: 24px;
}
.owl-slider-wrapper .owl-nav button.owl-prev {
  left: -24px;
}
.owl-slider-wrapper .owl-nav button.owl-next {
  right: -24px;
}
@media (min-width: 1366px) and (max-width: 1600px) {
  .owl-slider-wrapper .owl-nav button {
    bottom: 52px;
  }
}

.service-package {
  margin-top: 30px;
}
.service-package h6 {
  font-family: "Inter", Helvetica, sans-serif;
}
.service-package .icon {
  margin-bottom: 24px;
}
.service-package .icon img {
  width: 48px;
  height: 48px;
}
.service-package h6 {
  font-size: 22px;
  margin-bottom: 12px;
}
.service-package p {
  color: #74767E;
  line-height: normal;
}
@media (min-width: 1366px) and (max-width: 1600px) {
  .service-package {
    margin-top: 24px;
  }
  .service-package .icon {
    margin-bottom: 14px;
  }
  .service-package .icon img {
    width: 40px;
    height: 40px;
  }
}

.info-package {
  height: 100%;
  padding: 72px;
}
.info-package .brand-headline {
  font-size: 36px;
  font-weight: 700;
}
.info-package .brand-check-list {
  background: linear-gradient(to right, #d5d1ff, #fff);
  border-radius: 12px;
  padding: 1px;
}
.info-package .brand-check-list .wrapper {
  background: linear-gradient(to right, #f3f2ff, #fff);
  border-radius: 12px;
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
  padding: 16px 24px;
}
.info-package .brand-check-list .wrapper img {
  margin-right: 16px;
}
.info-package .center-block {
  margin: 36px 0;
}
.info-package.info-package--colored {
  background-image: url("../images/background-blured.png");
  background-size: cover;
}
.info-package.info-package--colored .brand-logo-white {
  filter: brightness(48);
}
.info-package.info-package--colored .brand-headline {
  -webkit-text-fill-color: #fff;
}
.info-package.info-package--colored .brand-information {
  color: #fff;
  display: -webkit-box;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin: 0;
}
.info-package.info-package--left {
  border-bottom-left-radius: 36px;
}
@media (min-width: 1366px) and (max-width: 1600px) {
  .info-package {
    padding: 60px;
  }
  .info-package .brand-check-list {
    border-radius: 8px;
  }
  .info-package .brand-check-list .wrapper {
    border-radius: 8px;
    font-size: 16px;
    padding: 12px;
  }
  .info-package .brand-check-list .wrapper img {
    margin-right: 12px;
    width: 24px;
  }
  .info-package .center-block {
    margin: 32px 0;
  }
  .info-package.info-package--colored .brand-information {
    -webkit-line-clamp: 6;
  }
}

.property-list-package {
  border: 1px solid #ccc;
  border-radius: 10px;
  cursor: pointer;
  padding: 1rem;
  margin-top: 30px;
}
.property-list-package .property-image {
  background-size: cover;
  background-position: center center;
  height: 300px;
}
.property-list-package .card {
  border: 0 none;
}
.property-list-package .card .property-list-images .owl-stage-outer {
  border-radius: 7px;
}
.property-list-package .card .card-body {
  padding: 0;
}
.property-list-package .card .card-body .name {
  font-size: 22px;
  font-weight: bold;
  color: #000;
  margin-bottom: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.property-list-package .card .card-body .rating-star svg path {
  fill: #200FE2;
}
.property-list-package .card .card-body .description {
  font-size: 14px;
  margin: 13px 0;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.property-list-package .card .card-body .amenities {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}
.property-list-package .card .card-body .amenities .box {
  border: 1px solid #e4e5e8;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  padding: 10px;
  text-align: center;
  width: 90px;
}
.property-list-package .card .card-body .amenities .box img {
  height: 32px;
  margin: 0 auto 10px;
}
.property-list-package .card .card-body .rating {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: right;
}
.property-list-package .card .card-body .rating .text {
  display: flex;
  flex-direction: column;
}
.property-list-package .card .card-body .rating .text span:first-child {
  font-size: 20px;
  font-weight: 200;
}
.property-list-package .card .card-body .rating .digits {
  margin-top: 10px;
}
.property-list-package .card .card-body .rating .digits span {
  background-color: var(--bs-success-bg-subtle);
  color: var(--bs-success-text-emphasis);
  border-radius: 10px;
  font-size: 36px;
  font-weight: 200;
  padding: 3px 10px;
}

.sticky-map {
  position: sticky;
  top: 135px;
}

.property-package .property-gallery {
  margin-bottom: 70px;
}
.property-package .property-gallery .full-height,
.property-package .property-gallery .half-height {
  background-size: cover;
  background-position: center center;
  border-radius: 16px;
  display: block;
}
.property-package .property-gallery .full-height {
  height: 400px;
}
.property-package .property-gallery .half-height {
  height: calc(200px - 0.5rem);
}
.property-package .property-details .name {
  font-family: "Inter", Helvetica, sans-serif;
  margin-bottom: 30px;
}
.property-package .property-details .details {
  margin-bottom: 50px;
}
.property-package .property-details .details .amenities {
  display: flex;
  gap: 10px;
  margin-bottom: 30px;
}
.property-package .property-details .details .amenities .box {
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  padding: 10px;
  text-align: center;
  width: 90px;
}
.property-package .property-details .details .amenities .box img {
  height: 32px;
  margin: 0 auto 10px;
}
.property-package .property-details .details .view-more-less-btn {
  background: linear-gradient(90deg, #f4f3fe, #d7d4fa);
  border-radius: 20px;
  color: #200FE2;
  padding: 7px 14px;
  text-decoration: none;
}
.property-package .property-details .details .view-more-less-btn .see-more {
  display: none;
}
.property-package .property-details .details .view-more-less-btn .see-less {
  display: inline;
}
.property-package .property-details .details .view-more-less-btn .bi-chevron-down::before {
  transform: rotate(180deg);
}
.property-package .property-details .details .view-more-less-btn.collapsed .see-more {
  display: inline;
}
.property-package .property-details .details .view-more-less-btn.collapsed .see-less {
  display: none;
}
.property-package .property-details .details .view-more-less-btn.collapsed .bi-chevron-down::before {
  transform: rotate(0deg);
}
.property-package .property-details .details .amenities-group {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.property-package .property-details .details .amenities-group .list-group-item {
  border: 0 none;
  flex: 0 0 auto;
  width: 33.33%;
  padding: 0 0 15px 0;
}

.profile-package .profileLeftSidebar-package .card {
  padding: 1.5rem;
  width: 100%;
}
.profile-package .profileLeftSidebar-package .card .card-header {
  background-color: transparent;
  border-bottom: 1px solid #E4E5E8;
  text-align: center;
  padding: 20px;
}
.profile-package .profileLeftSidebar-package .card .card-header .avatar {
  display: inline-block;
  height: 7rem;
  width: 7rem;
  position: relative;
  margin-bottom: 20px;
}
.profile-package .profileLeftSidebar-package .card .card-header .avatar .avatar-img {
  border-radius: 7rem;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.profile-package .profileLeftSidebar-package .card .card-header .avatar .btn {
  background-color: #200FE2;
  border-color: #200FE2;
  border-radius: 5rem;
  position: absolute;
  bottom: 0;
  right: 0;
}
.profile-package .profileLeftSidebar-package .card .card-header .name {
  font-size: 1.2rem;
  margin-bottom: 0;
}
.profile-package .profileLeftSidebar-package .card .card-header .email {
  color: #62646A;
  font-size: 14px;
  text-decoration: none;
}
.profile-package .profileLeftSidebar-package .card .card-body {
  padding: 0;
  margin-top: 1.5rem;
}
.profile-package .profileLeftSidebar-package .card .card-body .nav-pills-proileMenu .nav-item {
  margin-bottom: 5px;
  width: 100%;
}
.profile-package .profileLeftSidebar-package .card .card-body .nav-pills-proileMenu .nav-item .nav-link {
  border-radius: 4px;
  border-left: 2px solid transparent;
  color: #000;
  font-weight: 500;
  padding: 0.5rem 0.8rem !important;
}
.profile-package .profileLeftSidebar-package .card .card-body .nav-pills-proileMenu .nav-item .nav-link:hover, .profile-package .profileLeftSidebar-package .card .card-body .nav-pills-proileMenu .nav-item .nav-link.active {
  color: #200FE2;
  background-color: rgba(32, 15, 226, 0.1);
  border-left: 2px solid #200FE2;
}
.profile-package .profileLeftSidebar-package .card .card-body .nav-pills-proileMenu .nav-item .nav-link.text-danger:hover {
  background-color: #fff0f2;
  border-color: #dc3545;
}
.profile-package .profileRightSideContent-package .page-heading {
  font-family: "Inter", Helvetica, sans-serif;
  font-size: 1.75rem;
  margin-bottom: 30px;
}
.profile-package .profileRightSideContent-package .card {
  border: 0 none;
}
.profile-package .profileRightSideContent-package .card .card-header {
  background-color: rgba(32, 15, 226, 0.05);
  border: 1px solid #E4E5E8;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 15px;
}
.profile-package .profileRightSideContent-package .card .card-header .card-title {
  font-size: 20px;
}
.profile-package .profileRightSideContent-package .card .card-body {
  padding: 0 !important;
}
.profile-package .profileRightSideContent-package .card .card-body .inqury-row {
  border: 1px solid #E4E5E8;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}
.profile-package .profileRightSideContent-package .card .card-body .inqury-row .photo {
  border-radius: 5px;
  max-width: 100%;
  min-height: 120px;
}
.profile-package .profileRightSideContent-package .card .card-body .inqury-row .name {
  margin-bottom: 15px;
}
.profile-package .profileRightSideContent-package .card .card-body .inqury-row .name a {
  color: #200FE2;
  font-size: 20px;
  text-decoration: none;
}
.profile-package .profileRightSideContent-package .card .card-body .inqury-row .type,
.profile-package .profileRightSideContent-package .card .card-body .inqury-row .date,
.profile-package .profileRightSideContent-package .card .card-body .inqury-row .location {
  color: #62646A;
  font-size: 14px;
  margin-bottom: 5px;
}

.companyPath-package .companyPath-contentWrapper h3 {
  font-size: 36px;
  margin-bottom: 30px;
}
.companyPath-package .sticky-top-leftWrapper {
  position: sticky;
  top: 200px;
}

.companyPath-founderWrapper .avatar {
  height: 86px;
  width: 86px;
  margin-right: 24px;
}
.companyPath-founderWrapper .title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 5px;
}
.companyPath-founderWrapper .testimonital {
  font-size: 20px;
  font-weight: 500;
  line-height: normal;
  margin-top: 24px;
}
@media (min-width: 1366px) and (max-width: 1600px) {
  .companyPath-founderWrapper .avatar {
    height: 72px;
    width: 72px;
    margin-right: 20px;
  }
  .companyPath-founderWrapper .title {
    margin-bottom: 0;
  }
  .companyPath-founderWrapper .testimonital {
    font-size: 16px;
    font-weight: 400;
  }
}

.companyPath-pathWrapper ul {
  padding: 0;
}
.companyPath-pathWrapper ul li {
  list-style-type: none;
}
.companyPath-pathWrapper .companyPath-list .companyPath-item {
  position: relative;
  margin-bottom: 30px;
}
.companyPath-pathWrapper .companyPath-list .companyPath-item .year {
  color: #fff;
  font-size: 64px;
  font-weight: 700;
  position: absolute;
  transform: rotate(-90deg);
  top: calc(50% - 36px);
  left: -30px;
  width: 150px;
}
.companyPath-pathWrapper .companyPath-list .companyPath-item .pathDetail-border {
  background: linear-gradient(to right, #B0B8EC, rgba(213, 209, 255, 0));
  border-radius: 10px;
  margin-left: 72px;
  padding: 3px;
}
.companyPath-pathWrapper .companyPath-list .companyPath-item .pathDetail-border .path-detail-wrapper {
  background: linear-gradient(to right, #5C6499, rgba(37, 44, 90, 0));
  border-radius: 7px;
  display: flex;
  align-items: center;
  min-height: 200px;
  padding: 30px;
  padding-right: 0;
}
.companyPath-pathWrapper .companyPath-list .companyPath-item .pathDetail-border .path-detail-wrapper li {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.companyPath-pathWrapper .companyPath-list .companyPath-item .pathDetail-border .path-detail-wrapper li:last-child {
  margin-bottom: 0;
}
.companyPath-pathWrapper .companyPath-list .companyPath-item .pathDetail-border .path-detail-wrapper li .bullet {
  margin-right: 15px;
}
.companyPath-pathWrapper .companyPath-list .companyPath-item .pathDetail-border .path-detail-wrapper li span {
  font-size: 20px;
  font-weight: 400;
}
@media (min-width: 1366px) and (max-width: 1600px) {
  .companyPath-pathWrapper .companyPath-list .companyPath-item .year {
    font-size: 56px;
    left: -16px;
    width: 130px;
  }
  .companyPath-pathWrapper .companyPath-list .companyPath-item .pathDetail-border .path-detail-wrapper {
    padding: 24px;
    min-height: 180px;
  }
  .companyPath-pathWrapper .companyPath-list .companyPath-item .pathDetail-border .path-detail-wrapper li {
    margin-bottom: 16px;
  }
  .companyPath-pathWrapper .companyPath-list .companyPath-item .pathDetail-border .path-detail-wrapper li .bullet {
    width: 24px;
  }
  .companyPath-pathWrapper .companyPath-list .companyPath-item .pathDetail-border .path-detail-wrapper li span {
    font-size: 18px;
  }
}

.informationBanner-package {
  background: url("../images/about/15.jpg");
  border-radius: 32px;
  padding: 100px;
}
.informationBanner-package .innerBox {
  background-color: rgba(255, 255, 255, 0.7);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border-radius: 16px;
  padding: 50px;
}
.informationBanner-package .innerBox h2 {
  font-size: 40px;
  margin-bottom: 10px;
}
.informationBanner-package .innerBox p {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 50px;
}
@media (min-width: 1366px) and (max-width: 1600px) {
  .informationBanner-package {
    padding: 80px;
  }
  .informationBanner-package .innerBox p {
    font-size: 18px;
  }
}

.woWeWorkWith-package {
  margin-top: 100px;
}
.woWeWorkWith-package .woWeWorkWith-imgWrapper {
  position: sticky;
  top: 150px;
  height: calc(100vh - 200px);
}
.woWeWorkWith-package .woWeWorkWith-imgWrapper .woWeWorkWith-img {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 32px;
  height: 100%;
}
.woWeWorkWith-package .woWeWorkWith-contentWrapper {
  height: calc(100vh - 200px);
  padding: 0 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.woWeWorkWith-package .woWeWorkWith-contentWrapper h3 {
  font-size: 36px;
  margin-bottom: 30px;
}
@media (min-width: 1366px) and (max-width: 1600px) {
  .woWeWorkWith-package {
    margin-top: 72px;
  }
  .woWeWorkWith-package .woWeWorkWith-contentWrapper {
    padding: 0 40px;
  }
  .woWeWorkWith-package .woWeWorkWith-contentWrapper h3 {
    font-size: 28px;
    margin-bottom: 24px;
  }
}

.alert-primary {
  background-color: #200FE2;
  color: #fff;
}

.page-alert {
  border: 0 none;
  border-radius: 0;
  padding: 8px 16px;
  margin: 0;
}
.page-alert .btn-outline-primary {
  border-color: #fff;
  color: #fff;
  font-size: 14px;
  padding: 8px 16px;
  margin-left: 12px;
}
.page-alert .btn-outline-primary:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
@media (min-width: 1366px) and (max-width: 1600px) {
  .page-alert .btn-outline-primary {
    padding: 4px 8px;
  }
}

.btn-primary--gradient {
  --bs-btn-color: #fff;
  --bs-btn-hover-color: #fff;
  background: rgb(37, 44, 90);
  background: linear-gradient(315deg, rgb(37, 44, 90) 0%, rgb(32, 15, 226) 100%);
  border: 0 none;
}

.btn-lg {
  font-size: 20px;
}

.form-label {
  color: #666666;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.form-control,
.form-select {
  border-color: #ccc;
  border-radius: 4px;
}

.modal-header {
  background: #e8e7fc;
}

.modal-header,
.modal-footer {
  border-color: #E4E5E8;
}

.breadcrumb {
  background-color: rgba(32, 15, 226, 0.1);
  padding: 16px 32px;
}

.list-group-borderless .list-group-item {
  border: none !important;
  padding: 0.425rem 0;
}
.list-group-borderless a.list-group-item:hover {
  background-color: transparent;
  color: var(--bs-primary);
}/*# sourceMappingURL=app.css.map */