@media (min-width: 1400px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1320px;
  }
}
/* XXX-Large devices (larger desktops, 1600px and up) */
@media (min-width: 1600px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1530px;
  }
}
.text-primary--gradient, .info-package .brand-headline {
  background: linear-gradient(135deg, rgb(32, 15, 226) 0%, rgb(37, 44, 90) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-primary {
  color: #200FE2 !important;
}

h1, h2, h3, h4, h5, h6 {
  line-height: normal;
}

h2 {
  margin-bottom: 40px;
}

h5, h6 {
  font-family: "Inter", Helvetica, sans-serif;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

section {
  margin: 50px 0 100px 0;
}

.bg-light-gradient {
  background: linear-gradient(180deg, rgb(255, 246, 242) 0%, rgba(255, 246, 242, 0) 100%);
}

header {
  background-color: #fff;
  border-bottom: 1px solid #E4E5E8;
}
header .navbar-brand .navbar-brand-item {
  height: 80px;
}
header .navbar-nav .nav-item {
  margin: 0 5px;
}
header .navbar-nav .nav-item .nav-link {
  border-radius: 10px;
  color: #62646A;
  padding: 8px 16px;
}
header .navbar-nav .nav-item .nav-link:hover {
  background-color: rgba(32, 15, 226, 0.05);
  color: #1a1a1a;
}
header .nav .nav-item .btn {
  border-color: #200FE2;
  border-width: 2px;
  color: #200FE2;
  font-weight: 500;
}
header .nav .nav-item .btn:hover {
  background-color: rgba(32, 15, 226, 0.1);
}

.hero-slider {
  background-color: var(--primary-color);
  background-image: url("../images/hero-slider.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 40px 20px;
  position: relative;
  /* XX-Large devices (larger desktops, 1400px and up) */
}
.hero-slider::after {
  content: "";
  border-radius: var(--bs-border-radius-xxl);
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.hero-slider .content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
  position: relative;
  z-index: 1;
}
.hero-slider .content-wrapper h1 {
  color: #fff;
  font-family: "Canela";
  text-align: center;
  font-size: 30px;
}
.hero-slider .content-wrapper .search-form {
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border-radius: 16px;
  padding: 10px;
}
.hero-slider .content-wrapper .search-form .form-control {
  border: 0;
  height: 46px;
}
.hero-slider .content-wrapper .search-form .form-control::-moz-placeholder {
  color: #999;
}
.hero-slider .content-wrapper .search-form .form-control::placeholder {
  color: #999;
}
.hero-slider .content-wrapper .search-form .btn-search {
  font-size: 20px;
}
.hero-slider .partners-package {
  position: absolute;
  bottom: 0;
  z-index: 1;
}
.hero-slider .partners-package .partners-logos {
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-bottom: 2rem;
}
.hero-slider .partners-package .partners-logos img {
  max-height: 40px;
}
@media (min-width: 992px) {
  .hero-slider .content-wrapper {
    gap: 40px;
    max-width: 90%;
    padding: 0;
    margin-bottom: 5rem;
  }
}
@media (min-width: 1200px) {
  .hero-slider {
    height: 500px;
  }
  .hero-slider .content-wrapper {
    max-width: 90%;
  }
  .hero-slider .content-wrapper h1 {
    font-size: 48px;
  }
  .hero-slider .content-wrapper .search-form {
    border-radius: 12px;
  }
  .hero-slider .content-wrapper .search-form .form-control {
    height: 50px;
  }
  .hero-slider .partners-package .partners-logos {
    gap: 30px;
    margin-bottom: 2rem;
  }
  .hero-slider .partners-package .partners-logos img {
    max-height: 28px;
  }
}
@media (min-width: 1400px) {
  .hero-slider {
    height: 600px;
  }
  .hero-slider .content-wrapper {
    max-width: 80%;
  }
  .hero-slider .content-wrapper h1 {
    font-size: 64px;
  }
  .hero-slider .content-wrapper .search-form {
    border-radius: 16px;
  }
  .hero-slider .content-wrapper .search-form .form-control {
    height: 60px;
  }
  .hero-slider .partners-package .partners-logos {
    gap: 50px;
  }
  .hero-slider .partners-package .partners-logos img {
    max-height: 40px;
  }
}
.hero-slider.hero-slider--small {
  height: 300px;
}
.hero-slider.hero-slider--small .content-wrapper {
  margin-bottom: 0;
}
.hero-slider.hero-slider--small .content-wrapper h1 {
  font-size: 48px;
}
.hero-slider.hero-slider--small .content-wrapper .search-form {
  border-radius: 16px;
}
.hero-slider.hero-slider--small .content-wrapper .search-form .form-control {
  height: 60px;
}

.location-package {
  border-radius: 8px;
  padding: 12px 4px 4px;
  width: 130px;
}
.location-package--violet {
  background-color: #301745;
}
.location-package--pullmanGreen {
  background-color: #3E361A;
}
.location-package--ochre {
  background-color: #C27321;
}
.location-package--roseEbony {
  background-color: #654A3D;
}
.location-package--navyBlue {
  background-color: #080066;
}
.location-package--lincolnGreen {
  background-color: #0A4400;
}
.location-package--bloodRed {
  background-color: #8D120C;
}
.location-package--violet {
  background-color: #301745;
}
.location-package a {
  text-decoration: none;
}
.location-package a h3 {
  font-family: "Inter", Helvetica, sans-serif;
  font-weight: 500;
  color: white;
  padding: 8px;
}
.location-package a h3 span {
  display: block;
  font-weight: bold;
}
.location-package a picture img {
  border-radius: 8px;
}
@media (min-width: 992px) {
  .location-package {
    border-radius: 16px;
    padding: 10px;
    width: 200px;
  }
  .location-package a h3 {
    font-size: 20px;
  }
  .location-package a h3 span {
    font-size: 24px;
  }
  .location-package a picture img {
    border-radius: 16px;
  }
}

.owl-slider-wrapper .owl-nav {
  display: block !important;
}
.owl-slider-wrapper .owl-nav button {
  background-color: #fff !important;
  border-radius: 48px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.35);
  position: absolute;
  bottom: 60px;
  height: 48px;
  width: 48px;
}
.owl-slider-wrapper .owl-nav button span {
  font-size: 24px;
}
.owl-slider-wrapper .owl-nav button.owl-prev {
  left: -24px;
}
.owl-slider-wrapper .owl-nav button.owl-next {
  right: -24px;
}

.service-package {
  margin-top: 30px;
}
.service-package h6 {
  font-family: "Inter", Helvetica, sans-serif;
}
@media (min-width: 992px) {
  .service-package .icon {
    margin-bottom: 32px;
  }
  .service-package h6 {
    font-size: 24px;
    margin-bottom: 16px;
  }
  .service-package p {
    color: #74767E;
    line-height: normal;
  }
}

.info-package {
  height: 100%;
  padding: 100px 80px;
}
.info-package .brand-headline {
  font-size: 40px;
  font-weight: 700;
}
.info-package .brand-check-list {
  background: linear-gradient(to right, #d5d1ff, #ffffff);
  border-radius: 10px;
  padding: 1px;
}
.info-package .brand-check-list .wrapper {
  background: linear-gradient(to right, #f3f2ff, #ffffff);
  border-radius: 10px;
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
  padding: 15px 20px;
}
.info-package .brand-check-list .wrapper img {
  margin-right: 15px;
}
.info-package .center-block {
  margin: 40px 0;
}
.info-package.info-package--colored {
  background-image: url("../images/background-blured.png");
  background-size: cover;
}
.info-package.info-package--colored .brand-logo-white {
  filter: brightness(50);
}
.info-package.info-package--colored .brand-headline {
  -webkit-text-fill-color: #fff;
}
.info-package.info-package--colored .brand-information {
  color: #fff;
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin: 0;
}
.info-package.info-package--left {
  border-bottom-left-radius: 40px;
}

.property-list-package {
  border: 1px solid #ccc;
  border-radius: 10px;
  cursor: pointer;
  padding: 1rem;
  margin-top: 30px;
}
.property-list-package .property-image {
  background-size: cover;
  background-position: center center;
  height: 300px;
}
.property-list-package .card {
  border: 0 none;
}
.property-list-package .card .property-list-images .owl-stage-outer {
  border-radius: 7px;
}
.property-list-package .card .card-body {
  padding: 0;
}
.property-list-package .card .card-body .name {
  font-size: 22px;
  font-weight: bold;
  color: #000;
  margin-bottom: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.property-list-package .card .card-body .rating-star svg path {
  fill: #200FE2;
}
.property-list-package .card .card-body .description {
  font-size: 14px;
  margin: 13px 0;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.property-list-package .card .card-body .amenities {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}
.property-list-package .card .card-body .amenities .box {
  border: 1px solid #e4e5e8;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  padding: 10px;
  text-align: center;
  width: 90px;
}
.property-list-package .card .card-body .amenities .box img {
  height: 32px;
  margin: 0 auto 10px;
}
.property-list-package .card .card-body .rating {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: right;
}
.property-list-package .card .card-body .rating .text {
  display: flex;
  flex-direction: column;
}
.property-list-package .card .card-body .rating .text span:first-child {
  font-size: 20px;
  font-weight: 200;
}
.property-list-package .card .card-body .rating .digits {
  margin-top: 10px;
}
.property-list-package .card .card-body .rating .digits span {
  background-color: var(--bs-success-bg-subtle);
  color: var(--bs-success-text-emphasis);
  border-radius: 10px;
  font-size: 36px;
  font-weight: 200;
  padding: 3px 10px;
}

.property-package .property-gallery {
  margin-bottom: 70px;
}
.property-package .property-gallery .full-height,
.property-package .property-gallery .half-height {
  background-size: cover;
  background-position: center center;
  border-radius: 16px;
  display: block;
}
.property-package .property-gallery .full-height {
  height: 400px;
}
.property-package .property-gallery .half-height {
  height: calc(200px - 0.5rem);
}
.property-package .property-details .name {
  font-family: "Inter", Helvetica, sans-serif;
  margin-bottom: 30px;
}
.property-package .property-details .details {
  margin-bottom: 50px;
}
.property-package .property-details .details .amenities {
  display: flex;
  gap: 10px;
  margin-bottom: 30px;
}
.property-package .property-details .details .amenities .box {
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  padding: 10px;
  text-align: center;
  width: 90px;
}
.property-package .property-details .details .amenities .box img {
  height: 32px;
  margin: 0 auto 10px;
}
.property-package .property-details .details .view-more-less-btn {
  background: linear-gradient(90deg, #f4f3fe, #d7d4fa);
  border-radius: 20px;
  color: #200FE2;
  padding: 7px 14px;
  text-decoration: none;
}
.property-package .property-details .details .view-more-less-btn .see-more {
  display: none;
}
.property-package .property-details .details .view-more-less-btn .see-less {
  display: inline;
}
.property-package .property-details .details .view-more-less-btn .bi-chevron-down::before {
  transform: rotate(180deg);
}
.property-package .property-details .details .view-more-less-btn.collapsed .see-more {
  display: inline;
}
.property-package .property-details .details .view-more-less-btn.collapsed .see-less {
  display: none;
}
.property-package .property-details .details .view-more-less-btn.collapsed .bi-chevron-down::before {
  transform: rotate(0deg);
}
.property-package .property-details .details .amenities-group {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.property-package .property-details .details .amenities-group .list-group-item {
  border: 0 none;
  flex: 0 0 auto;
  width: 33.33%;
  padding: 0 0 15px 0;
}

.alert-primary {
  background-color: #200FE2;
  color: #fff;
}

.page-alert {
  border: 0 none;
  border-radius: 0;
  padding: 9px 15px;
  margin: 0;
}
.page-alert .btn-outline-primary {
  border-color: #fff;
  color: #fff;
  font-size: 14px;
  padding: 6px 15px;
  margin-left: 10px;
}
.page-alert .btn-outline-primary:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.btn-primary--gradient {
  --bs-btn-color: #fff;
  --bs-btn-hover-color: #fff;
  background: rgb(37, 44, 90);
  background: linear-gradient(315deg, rgb(37, 44, 90) 0%, rgb(32, 15, 226) 100%);
  border: 0 none;
}

.btn-lg {
  font-size: 20px;
}

.breadcrumb {
  background-color: rgba(32, 15, 226, 0.1);
  padding: 16px 32px;
}/*# sourceMappingURL=app.css.map */