.hero-slider {
    background-color: var(--primary-color);
    background-image: url("../images/hero-slider.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 40px 20px;
    position: relative;
    &::after {
        content: "";
        border-radius: var(--bs-border-radius-xxl);
        background-color: rgba(0, 0, 0, 0.6);
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
    }
    .content-wrapper {
        display: flex;
        flex-direction: column;
        gap: 40px;
        width: 100%;
        position: relative;
        z-index: 1;
        h1 {
            color: #fff;
            font-family: 'Canela';
            text-align: center;
            font-size: 30px;
        }
        .search-form {
            background-color: rgba(255, 255, 255, 0.4);
            backdrop-filter: blur(10px);
            border-radius: 16px;
            padding: 10px;
            .form-control,
            .form-select {
                border: 0;
                height: 46px;
                &::placeholder {
                    color: #999;
                }
            }
            .btn-search {
                font-size: 20px;
            }
        }
    }
    .partners-package {
        position: absolute;
        bottom: 0;
        z-index: 1;
        .partners-logos {
            align-items: center;
            display: flex;
            justify-content: center;
            gap: 50px;
            margin-bottom: 2rem;
            img {
                max-height: 40px;
            }
        }
    }
    @media (min-width: 992px) {
        .content-wrapper {
            gap: 40px;
            max-width: 90%;
            padding: 0;
            margin-bottom: 5rem;
        }
    }
    @media (min-width: 1200px) {
        height: 500px;
        .content-wrapper {
            max-width: 90%;
            h1 {
                font-size: 48px;
            }
            .search-form {
                border-radius: 12px;
                .form-control,
                .form-select {
                    height: 50px;
                }
            }
        }
        .partners-package {
            .partners-logos {
                gap: 30px;
                margin-bottom: 2rem;
                img {
                    max-height: 28px;
                }
            }
        }
    }
    
    /* XX-Large devices (larger desktops, 1400px and up) */
    @media (min-width: 1400px) {
        height: 600px;
        .content-wrapper {
            max-width: 80%;
            h1 {
                font-size: 64px;
            }
            .search-form {
                border-radius: 16px;
                .form-control,
                .form-select {
                    height: 60px;
                }
            }
        }
        .partners-package {
            .partners-logos {
                gap: 50px;
                img {
                    max-height: 40px;
                }
            }
        }
    }
    &.hero-slider--small {
        height: 300px;
        .content-wrapper {
            margin-bottom: 0;
            &.gap-0 {
                gap: 0;
            }
            span {
                color: $color-white;
                font-size: 20px;
                font-weight: $font-weight-semibold;
                text-align: center;
                text-transform: uppercase;
            }
            h1 {
                font-size: 48px;
                &.font-xl {
                    font-size: 64px;
                }
            }
            .search-form {
                border-radius: 16px;
                .form-control,
                .form-select {
                    height: 60px;
                }
            }
        }
    }
}
