.hero-slider {
    background-color: var(--primary-color);
    background-image: url("../images/hero-slider.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 36px 24px;
    position: relative;
    height: 600px;
    &::after {
        content: "";
        border-radius: var(--bs-border-radius-xxl);
        background-color: rgba(0, 0, 0, 0.6);
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
    }
    .content-wrapper {
        display: flex;
        flex-direction: column;
        gap: 36px;
        width: 100%;
        max-width: 90%;
        position: relative;
        z-index: 1;
        h1 {
            color: $color-white;
            text-align: center;
        }
        .search-form {
            background-color: rgba(255, 255, 255, 0.4);
            backdrop-filter: blur(8px);
            border-radius: 16px;
            padding: 12px;
            .form-control,
            .form-select {
                border: 0;
                height: 60px;
                border-radius: 8px;
                &::placeholder {
                    color: #999;
                }
            }
            .btn-search {
                border-radius: 8px;
                font-size: 20px;
                height: 60px;
                padding: 0 48px;
            }
        }
    }
    .partners-package {
        position: absolute;
        bottom: 0;
        z-index: 1;
        .partners-logos {
            align-items: center;
            display: flex;
            justify-content: center;
            gap: 48px;
            margin-bottom: 28px;
            img {
                max-height: 36px;
            }
        }
    }
    &.hero-slider--small {
        height: 300px;
        .content-wrapper {
            margin-bottom: 0;
            &.gap-0 {
                gap: 0;
            }
            span {
                color: $color-white;
                font-size: 22px;
                font-weight: $font-weight-semibold;
                text-align: center;
                text-transform: uppercase;
            }
            h1 {
                font-size: 48px;
                &.font-xl {
                    font-size: 60px;
                }
            }
            .search-form {
                border-radius: 16px;
                .form-control,
                .form-select {
                    height: 60px;
                }
            }
        }
    }
    @media (min-width: 1366px) and (max-width: 1600px) {
        height: 500px;
        .content-wrapper {
            .search-form {
                border-radius: 12px;
                .form-control,
                .form-select,
                .btn-search {
                    height: 52px;
                    border-radius: 6px;
                    font-size: 16px;
                }
            }
        }
        .partners-package {
            .partners-logos {
                img {
                    max-height: 30px;
                }
            }
        }
    }
}
