.property-package {
    .property-gallery {
        margin-bottom: 70px;
        .full-height,
        .half-height {
            background-size: cover;
            background-position: center center;
            border-radius: 16px;
            display: block;
        }
        .full-height {
            height: 400px;
        }
        .half-height {
            height: calc(200px - 0.5rem);
        }
    }
    .property-details {
        .name {
            font-family: "Inter", Helvetica, sans-serif;
            margin-bottom: 30px;
        }
        .details {
            margin-bottom: 50px;
            .amenities {
                display: flex;
                gap: 10px;
                margin-bottom: 30px;
                .box {
                    border: 1px solid #ccc;
                    border-radius: 5px;
                    display: flex;
                    flex-direction: column;
                    font-size: 14px;
                    padding: 10px;
                    text-align: center;
                    width: 90px;
                    img {
                        height: 32px;
                        margin: 0 auto 10px;
                    }
                }
            }
            .view-more-less-btn {
                background: linear-gradient(90deg, #f4f3fe, #d7d4fa);
                border-radius: 20px;
                color: $primary-color;
                padding: 7px 14px;
                text-decoration: none;
                .see-more {
                    display: none;
                }
                .see-less {
                    display: inline;
                }
                .bi-chevron-down {
                    &::before {
                        transform: rotate(180deg);
                    }
                }
                &.collapsed {
                    .see-more {
                        display: inline;
                    }
                    .see-less {
                        display: none;
                    }
                    .bi-chevron-down {
                        &::before {
                            transform: rotate(0deg);
                        }
                    }
                }
            }
            .amenities-group {
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;
                .list-group-item {
                    border: 0 none;
                    flex: 0 0 auto;
                    width: 33.33%;
                    padding: 0 0 15px 0;
                }
            }
        }
    }
}
